<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone Interface Discord - Amigos</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header th:fragment="topo" class="friends-header">
    <div class="header-left">
        <i class="fas fa-user-friends header-icon"></i>
        <h1 class="header-title">Amigos</h1>
        <div class="separator"></div>
        <nav class="friends-nav">
            <a href="http://localhost:8080" class="tab-item active">Disponível</a>
            <a href="http://localhost:8080/todos" class="tab-item">Todos</a>
            <a href="#" class="tab-item">Pendentes</a>
            <a href="#" class="tab-item">Bloqueados</a>
            <button  class="add-friend-btn"><a href="/addAmigos">Adicionar amigo</a></button>
        </nav>
    </div>
    <div class="header-right">
        <button class="icon-btn tooltip" data-tooltip="Nova conversa em grupo"><i class="fas fa-comment-medical"></i></button>
        <div class="separator"></div>
        <button class="icon-btn tooltip" data-tooltip="Caixa de entrada"><i class="fas fa-inbox"></i></button>
        <button class="icon-btn tooltip" data-tooltip="Ajuda"><i class="fas fa-question-circle"></i></button>
    </div>
</header>
</body>
</html>

