<div th:fragment="nav-servers" class="bg-escuro d-flex flex-column align-items-center py-3 flex-shrink-0"
     style="width: 72px; height: 100vh; z-index: 10;">


    <div class="d-flex align-items-center justify-content-center cursor-pointer shadow-sm"
         style="width: 48px; height: 48px; background-color: #5865F2; border-radius: 16px;">

        <div class="d-flex align-items-center justify-content-center fw-bold" style="width: 32px; height: 32px;">P</div>

    </div>

    <hr class="text-secondary w-50 my-3">

</div>