<div th:fragment="nav-top" class="bg-serve p-2 d-flex align-items-center px-3 flex-shrink-0 shadow-sm"
     style="border-bottom: 1px solid #202225;">

    <div style="width: 240px;" class="fw-bold text-white fs-6">
        Global Chat
    </div>

    <div class="d-flex flex-grow-1 align-items-center justify-content-between px-2">
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center gap-3">
                <!-- Links atualizados com o prefixo /amigos -->
                <a th:href="@{/home/disponivel}" class="text-white text-decoration-none fw-bold d-flex align-items-center gap-2 nav-link-amigos">
                    <i class="bi bi-people-fill"></i> Amigos
                </a>
                <div class="vr bg-secondary" style="height: 20px;"></div>

                <a th:href="@{/home/disponivel}" class="text-secondary text-decoration-none small hover-white">Disponível</a>
                <a th:href="@{/home/todos}" class="text-secondary text-decoration-none small hover-white">Todos</a>
                <a th:href="@{/home/pendentes}" class="text-secondary text-decoration-none small hover-white">Pendentes</a>
                <a th:href="@{/home/bloqueados}" class="text-secondary text-decoration-none small hover-white">Bloqueados</a>

                <a th:href="@{/home/adicionar}" class="btn btn-sm text-white fw-bold p-1 ms-1 shadow-sm btn-add-friend text-decoration-none" style="font-size: 15px;">
                    Adicionar Amigo
                </a>
            </div>
        </div>

        <div class="d-flex gap-3 text-secondary fs-5">
            <i class="bi bi-bell-fill hover-white cursor-pointer"></i>
            <i class="bi bi-chat-left-dots-fill hover-white cursor-pointer"></i>
            <i class="bi bi-gear-fill hover-white cursor-pointer"></i>
        </div>
    </div>
</div>