* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: linear-gradient(174deg,rgba(101, 157, 126, 1) 35%, rgba(48, 141, 147, 1) 100%);
    height: 93vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    background: linear-gradient(190deg,rgba(34, 157, 104, 1) 45%, rgba(97, 155, 126, 1) 100%);
    width: 100vw;
}

.header img:active{
    cursor: pointer;
}

.cad-Box {
    background-color: #d9e2f1;
    /* Cor de fundo suave */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    padding: 2vh 5vw;
    
    border-radius: 10Vh
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

input {

    padding: 12px;
    border-radius: 15px;
    border: 1px solid #888;
    background-color: #f0f4f9;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    /* Verde do botão */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}