<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
  <link rel="stylesheet" href="/css/cadastro.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

  <div class="header">
    <img class="header-logo" src="/imgs/Frame-78.svg" alt="">
    <img class="header-opcoe" src="/imgs/Frame-77.svg" alt="Opções">
  </div>
  <div class="body">
    <div class="cad-Box">
      <h2> Preencha as Informações</h2>
      <div class="inputs-cadastro-box">
        <form class="container" th:action="@{/registrar}" method="post">
          <input type="email" name="email" placeholder="Email" required>
          <input type="email" name="confirmarEmail" placeholder="Confirmar Email" required>
          <input type="password" name="senha" placeholder="Registre uma Senha" required>
          <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" required>
          <input type="text" name="username" placeholder="Registre um Nome de Usuário" required>

          <button type="submit">Finalizar Cadastro</button>
        </form>
      </div>

    </div>
  </div>

</body>
</html>