<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone Interface Discord - Amigos</title>
    <link rel="stylesheet" href="/static/css/inicial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="app-container">
    <div class="app-header">
        <img class="header-logo" src="/static/imgs/Frame%2078.svg" alt="">
        <img class="header-opcoe" src="/static/imgs/Frame%2077.svg" alt="Opções">
    </div>
    <div class="app-body">
        <img class="chats" src="/static/imgs/Group.svg" alt="Chats">
        <div class="inicial-box">
            <p class="Inicial-main-txt">COMECE AGORA NO GLOBAL CHAT</p>
            <div class="box-botoes">
                <button onclick="" class="cadastro">Cadastrar</button>
                <button onclick="" class="login">Login</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>