<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Clone - Interface Estática</title>
    <link rel="stylesheet" href="/css/todosAmigos.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="app-container">
    <div th:replace="~{components/sidebar :: lado}"></div>

    <main class="main-content">
        <div th:replace="~{components/navbar-superior :: topo}"></div>

        <section class="friends-table">
            <div class="search-bar-main">
                <input type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="friends-grid">
                <div class="grid-header">TODOS OS AMIGOS — 1</div>

                <div class="friend-row">
                    <div class="row-left">
                        <div class="avatar-medium"></div>
                        <div class="row-details">
                            <span class="row-name">jesutoyosi</span>
                            <span class="row-status">Offline</span>
                        </div>
                    </div>
                    <div class="row-actions">
                        <i class="fa-solid fa-message" title="Enviar Mensagem"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>